body{margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;line-height:18px;color:#333333;background-color:#000000;}
img.logo{max-width:50%;height:auto;border:0;display: block;margin-left: auto; margin-right: auto;-ms-interpolation-mode:bicubic;}
